#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

.logo {
  height: 6.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms, transform 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2.5em #646cffbb);
  transform: scale(1.05);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2.5em #61dafbbf);
  transform: scale(1.05);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 18s linear;
  }
}

.card {
  padding: 2.5em;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #666;
  font-style: italic;
}
